.header {
  width: 100%;
  height: 5rem;
  background-color: #1768ac;
  box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10%; */
  padding-right: 1vw;
}


.logo {
  font-size: 40px;
  color: white;
  margin: 0;
  padding-bottom: 10px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.header ul {
  list-style: none;
  margin: 0;
  padding-left: 2vw;
}

.header li {
  margin: 0 1rem;
}

.dropdownOpen:hover {
  cursor: pointer;
}

.dropdownOpen {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-top: 30vh;
  padding-bottom: 30vh;
}

.icon {
  display: inline;
  position: absolute;
  top: 50vh;
}

.dropdown {
  z-index: 4;
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  width: 15vw;
  left: 220px;
  top: 80px;
}

.dropdown li {
  /* margin-top: 2vh; */
  padding-right: 2vh;
  padding-left: 2vh;
  background-color:#5aacef;
  border-top: 0.3vh solid #ffffff;
  display: flex;
  flex-direction: column;
}

.dropdown li:hover {
  color: black;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 0.2vh solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5vh;
  cursor: pointer;
}

.header a:hover {
  color: #06bee1;
}

.header button:hover {
  background-color: #06bee1;
  color: #38015c;
}


@media only screen and (max-width: 980px) {
  .header button {
    border: none;
    padding: 0;
  }
  .header button:hover {
    background-color: transparent;
  }
  .logo {
    font-size: 20px;
    width: 250px;
    padding-bottom: 4px;
    margin-right: 10px;
  }
  .header li {
    margin:10px;
    width: 120px;
    text-align: center;
    padding: 2px;
  }
  .dropdown li {
   margin: 0;

  }
  .dropdown {
    left: 270px;
  }
}

@media only screen and (max-width: 1217px) {
  .logo {
    font-size: 20px;
    padding-bottom: 4px;
  }
}